.header{
    background-color: #e35c5c;
    height: 4rem;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-top: 10px;
    margin-bottom: 1rem;
    color: #392e2e;

    border-radius: 12px;

    box-shadow: 0 0 10px rgb(0 , 0 , 0 , 0.566);

    font-weight: 700;
}